<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      Your lot <%= @lot.title %> wasnt sold - sold time is out<br>
    </p>
    <p>
      More information - by link <%= @url %>.
    </p>
  </body>
</html>