<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      You are winner in the lot <%= @lot.title %> with your bid <%= @bid.proposed_price %>
    </p>
    <p>
      More information - by link <%= @url %>.
    </p>
  </body>
</html>